.saleContainer {
    background: #F5F5F3;
    border: 1px solid #E3E3E3;
    padding: 30px 25px;
}

.saleTitle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.saleTitle h1 {
    font-size: 40px;
    color: #578CA7;
    line-height: 26px;
}

.saleTitle h1 span {
    font-size: 24px;
    color: #262626;
    line-height: 16px;
}

.saleTitle p {
    line-height: 16px;
}

.formSale {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saleInput {
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 46px;
    border: 1px solid #a6a6a6;
    font-size: 20px;
    line-height: 14px;
}

.saleInput:focus {
    outline: none;
    border-color: #578CA7;
}

.offertSale {
    padding-top: 15px;
    font-size: 12px;
    color: #262626;
    cursor: default;
}

.offertSale span {
    text-decoration: underline;
    color: #7DA2B5;
    cursor: pointer;
}