header {
    display: flex;
    flex-direction: column;
}

.topHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    background: #E3E3E3;
    height: 60px;
    padding: 0 16px;
}

.topHeader a {
    height: 20px;
}

.leftTopHeader {
    display: flex;
    gap: 15px;
    align-items: center;
}

.profileBtn {
    cursor: pointer;
}

.logoForHeader {
    width: 120px;
}

.rightTopHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.cartIconContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.itemsCount {
    position: absolute;
    right: -6px;
    bottom: -5px;
    background: #3E5461;
    color: #fff;
    border-radius: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsCount p {
    font-size: 10px;
    line-height: 7px;
}